body{
    background-image: url(/img/Walppaper_SapceX.svg);
    background-size: contain;
}

* {
    margin: 0;
    padding: 0;
    font-family: Arial;
    box-sizing: border-box;
    color: white;
  }

#logo{
    display: grid;
    justify-content: center;
    align-content: center;
}

#logo > svg{
    margin-left: 4rem;
}

text{
    fill: white;
}

#numbers {
    display: grid;
    justify-content: center;
    align-content: center;
}

.container {
    display: grid;
    align-content: center;
    margin-left: 12rem;
    margin-right: 12rem;
}

.legend{
    margin-left: 5%;
    font-size: 2.5em;
    margin-top: 4rem;
    margin-bottom: 2rem;
}

#subtitle{
    font-size: 3em;
    font-style: italic;
    margin-bottom: 4rem;
    margin-left: 5%;
}

#pies{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.name {
    font-size: 1em;
    display: grid;
    justify-content: center;
    align-content: center;
}

.results{
    font-size: 1.5em;
    display: grid;
    justify-content: center;
    align-content: center;
    margin-bottom: 2rem;
}
