body{
    background-image: url(/img/Walppaper_SapceX.svg);
    background-size: contain;
}

* {
    margin: 0;
    padding: 0;
    font-family: Arial;
    box-sizing: border-box;
    color: white;
  }

#logo{
    margin-left:auto;
    margin-right:auto;
    margin-top: 25px;
    display:block;
    color: white;
}

text{
    fill: white;
}

#numbers {
    display: grid;
    justify-content: center;
    align-content: center;
}

.container {
    display: grid;
    align-content: center;
}

.legend{
    margin-left: 4rem;
    font-size: 3em;
    margin-top: 4rem;
}