body{
    background-image: url(/img/Walppaper_SapceX.svg);
    background-size: contain;
    color: white;
}

text{
    fill: white;
}

#numbers {
    display: grid;
    justify-content: center;
    align-content: center;
}